<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/Logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="sidebar">
        <div class="sidebar-content">
            <div class="top-sidebar">
                <div class="profile">
                    <div class="avatar"></div>
                    <div class="profile-text">
                        <p class="username">{{ session['usuario'] }}</p>
                        <p class="email">{{ session['email'] }}</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li class="active">
                            <a href="#">
                                <img src="{{ url_for('static', filename='imgs/homeicon.svg') }}" alt=""> Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ url_for('static', filename='imgs/gamepadicon.svg') }}"> Jogos
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-users"></i> Categorias
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="logout">
                <a href="{{ url_for('logout') }}">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>

    </div>

    <div class="content">
        {% if session['funcao'] == 'desenvolvedor' %}
        <p><a href="{{ url_for('dev.criar_jogos') }}">Enviar um novo jogo</a></p>
    {% endif %}

    {% if session['funcao'] == 'admin' %}
    <p><a href="{{ url_for('admin.jogos_pendentes') }}">Validar jogo</a></p>
{% endif %}

    </div>

</body>

</html>