{% extends "layouts/base.html" %}

{% block content %}

<div class="hero">
    <div class="hero_content">
        <img src="{{ url_for('static', filename='imgs/logo_branca.png') }}" alt="">
        <p><strong>Federal's Indie</strong> tem como objetivo criar uma plataforma para jogos independentes desenvolvidos por estudantes do Instituto Federal do Rio Grande do Norte (IFRN). A plataforma visa aumentar a visibilidade desses jogos e inspirar novos criadores dentro da comunidade estudantil.</p>
        <button class="hero_button">Faça login</button>
    </div>
</div>

<section class="information">
    <div class="top_info">
        <h1>O que é a Federal's Indie?</h1>
        <p>
            <strong>A Federal's Indie</strong> é uma plataforma dedicada à promoção e visibilidade de jogos independentes desenvolvidos por estudantes do <strong>Instituto Federal do Rio Grande do Norte (IFRN)</strong>. Seu principal objetivo é oferecer um espaço onde esses jogos possam ser exibidos, aumentando a visibilidade dos criadores e incentivando novos desenvolvedores a se engajar no mundo dos jogos independentes.
        </p>
    </div>
    <div class="obj_rows">
        <div class="row">
            <div class="card_obj">
                <div class="number">1</div>
                <div class="obj_texts">
                    <h3>Sistema de Envio de Jogos</h3>
                    <p>Federal's Indie terá um sistema intuitivo para os desenvolvedores enviarem seus jogos. Eles poderão adicionar o nome do jogo, uma imagem representativa e o link de onde o jogo está hospedado.</p>
                </div>
            </div>
            <div class="card_obj">
                <div class="number">2</div>
                <div class="obj_texts">
                    <h3>Comunidade de Desenvolvedores</h3>
                    <p>A plataforma incluirá uma área de comunidade onde os desenvolvedores poderão conversar entre si, trocar ideias, dar e receber feedback, e colaborar em novos projetos.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card_obj">
                <div class="number">3</div>
                <div class="obj_texts">
                    <h3>Educação e Notícias</h3>
                    <p>Federal's Indie terá uma seção dedicada à educação e notícias, onde os desenvolvedores poderão acessar cursos de terceiros e receber atualizações sobre novos recursos e oportunidades.</p>
                </div>
            </div>
            <div class="card_obj">
                <div class="number">4</div>
                <div class="obj_texts">
                    <h3>Destaques e Reconhecimento</h3>
                    <p>A plataforma contará com uma área de destaques, onde os jogos mais inovadores e populares serão apresentados. isso vai ajudar no reconhecimento e visibilidade extra para trabalhos excepcionais.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="motivation information">
    <div class="top_info">
        <h1>Principais motivações</h1>
        <p>
            A criação de Federal's Indie é motivada pela necessidade de dar visibilidade aos talentos dos estudantes e criar uma comunidade vibrante de desenvolvedores de jogos independentes dentro do IFRN. A plataforma pretende ser um catalisador para inovação e criatividade, proporcionando um ambiente propício para o desenvolvimento de jogos.
        </p>
    </div>
    <div class="motiv_column">
            <div class="card_motiv">
                <img src="{{ url_for('static', filename='imgs/jardim.jpg') }}" alt="">
                <div class="motiv_text">
                    <p>Uma das motivações do projeto é o TCC de 2023 do aluno Diogo Henrique Costa Marquês, do curso de Informática para Internet, que criou um jogo chamado O Jardim das Borboletas. Este foi um dos principais motivos para a criação do projeto.</p>
                </div>
            </div>
            <div class="card_motiv">
                <div class="motiv_text">
                    <p>Uma das motivações do projeto é o TCC de 2023 do aluno Diogo Henrique Costa Marquês, do curso de Informática para Internet, que criou um jogo chamado O Jardim das Borboletas. Este foi um dos principais motivos para a criação do projeto.</p>
                </div>
                <img src="{{ url_for('static', filename='imgs/jardim.jpg') }}" alt="">
            </div>
            <div class="card_motiv">
                <img src="{{ url_for('static', filename='imgs/jardim.jpg') }}" alt="">
                <div class="motiv_text">
                    <p>Uma das motivações do projeto é o TCC de 2023 do aluno Diogo Henrique Costa Marquês, do curso de Informática para Internet, que criou um jogo chamado O Jardim das Borboletas. Este foi um dos principais motivos para a criação do projeto.</p>
                </div>
            </div>
    </div>
    
</section>

<section class="developers">
    <div class="dev_title">
        <h1>Desenvolvedores</h1>
    </div>
    <div class="team">
        <div class="team_member">
            <img src="{{ url_for('static', filename='imgs/luiz.png') }}" alt="">
            <div class="team_texts">
                <h2>LUIZ FERNANDO DE OLIVEIRA RIBEIRO DA CRUZ</h2>
                <p>Designer | Programador Fullstack</p>
            </div>
        </div>
        <div class="team_member">
            <div class="team_texts">
                <h2>IGOR GABRIEL ROCHA DE ANDRADE</h2>
                <p>Programador Fullstack</p>
            </div>
            <img src="{{ url_for('static', filename='imgs/igor.png') }}" alt="">
        </div>
        <div class="team_member">
            <img src="{{ url_for('static', filename='imgs/carlos.png') }}" alt="">
            <div class="team_texts">
                <h2>CARLOS DAVI DE OLIVEIRA CAVALCANTI</h2>
                <p>Designer | Programador Fullstack</p>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}