<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/Logo.png')}}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script> <!-- Use 'defer' para garantir que o script seja carregado depois do DOM -->
</head>
<body>
        <div class="login">
            <div class="login_forms">
                <div class="forms_content">
                    <h2>Bem-vindo de volta!</h2>
                    <form class="forms" action="{{ url_for('login') }}" method="post">
                            <div class="input_box">
                                <label for="login" class="form-label">Usuário</label>
                                <input id="usuario" type="text" name="usuario" class="input" placeholder="Usuário" required autocomplete="username">
                            </div>
                            <div class="password_container">
                                <div class="input_box">
                                    <label for="login" class="form-label">Senha</label>
                                    <input id="senha" type="password" name="senha" class="input" placeholder="Senha" required autocomplete="current-password">
                                    <button type="button" class="toggle_password"
                                            data-eye="{{ url_for('static', filename='imgs/login/eye.svg') }}"
                                            data-eye-slash="{{ url_for('static', filename='imgs/login/eye-slash.svg') }}">
                                        <img src="{{ url_for('static', filename='imgs/login/eye.svg') }}" alt="Mostrar senha" class="password_icon">
                                    </button>
                                </div>                              
                            </div>
                        <button class="button white" type="submit">Login</button>
                    </form>
                    <p>Não tem uma conta?  <a href="{{ url_for('cadastro') }}">Criar uma conta</a></p>
                </div>
            </div>
            <img src="{{url_for('static', filename='imgs/login/login.svg')}}" alt="">
        </div>
</body>
</html>
